/* styles.css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.game-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.scoreboard {
    margin-bottom: 20px;
}

.scoreboard p {
    margin: 5px 0;
}

.hole-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Оставлено три столбца */
    gap: 10px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
}

.hole {
    width: 100px;
    height: 100px; /* Немного увеличена высота для удобочитаемости */
    background-color: brown;
    border-radius: 55%;
    position: relative;
    cursor: pointer;
}

.hole::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background-image: url("krot.png"); /* Указываем URL изображения крота */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hole_has-mole::before {
    opacity: 1;
}
