textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

#clearButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clearButton:hover {
  background-color: #d32f2f;
}
